<% include ../public/partials/header %>

<h3>Register a new account</h3>
<hr>
<form method="post" class="form-horizontal">
	<fieldset>
		<% if(error) { %>
			<div class="alert alert-error">
				<button type="button" class="close fui-cross" data-dismiss="alert"></button>
		    	<%= error %>
		    </div>
		<% } %>

		<div class="control-group huge">
			<label class="control-label" for="signupName">Your name</label>
			<div class="controls">
				<input type="text" name="signupName" id="signupName" placeholder="Name" class="span6" value="<%= name || '' %>" />
			</div>
		</div>

		<div class="control-group huge">
			<label class="control-label" for="signupEmail">Email address</label>
			<div class="controls">
				<input type="text" name="signupEmail" id="signupEmail" placeholder="Email address" class="span6" value="<%= emailAddress || '' %>" />
			</div>
		</div>

		<div class="control-group huge">
			<label class="control-label" for="signupPassword">Password</label>
			<div class="controls">
				<input type="password" class="span6" name="signupPassword" id="signupPassword" placeholder="Password" />
			</div>
		</div>

		<div class="form-actions">
			<input type="hidden" name="signupInviteCode" id="signupInviteCode" value="<%= inviteCode || '' %>" />
			<button class="btn btn-large btn-primary" type="submit">Sign up</button>
		</div>
	</fieldset>
</form>

<% include ../partials/footer %>