<% include ../partials/header %>
<% include ../partials/menu %>

<h3>Login</h3>
<hr>

<div class="login span6 offset3">
	<form method="post" action="/login" class="form-horizontal">
		<fieldset>
			<% if(message) { %>
			<div class="alert alert-error">
				<button type="button" class="close fui-cross" data-dismiss="alert"></button>
				<%= message %>
			</div>
			<% } %>

			<div class="control-group huge">
				<input type="text" class="login-field span6" name="loginEmail" id="loginEmail" placeholder="Email address" />
			</div>

			<div class="control-group huge">
				<input type="password" class="login-field span6" name="loginPassword" id="loginPassword" placeholder="Password" />
				<!-- <label class="login-field-icon fui-lock" for="login-pass"></label> -->
			</div>

			<div class="control-group">
				<button class="btn btn-huge btn-primary btn-block" type="submit">Sign in</button>
			</div>

			<hr>

			<div class="controls-row">
				<a class="btn btn-small btn-info" href="/signup">Register a New Account</a>
				<a class="btn btn-small btn-secondary" href="/forgot">Forgot your password?</a>
			</div>
		</fieldset>
	</form>
</div>

<% include ../partials/footer %>