
    	</div>

            <div class="mtl pbl">
                <div class="bottom-menu bottom-menu-inverse">
                    <div class="container">
                        <div class="row">
                            <div class="span4 brand lead">
                                <a href="http://glassumbrella.co" class="">Glass Umbrella</a>
                            </div>

                            <div class="span5">
                                <ul class="bottom-links">
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/privacy">Privacy</a></li>
                                    <li><a href="/terms">Terms</a></li>
                                    <li><a href="/help">Support</a></li>
                                </ul>
                            </div>

                            <div class="span2">
                                <ul class="bottom-icons">
                                    <li><a href="https://twitter.com/glassumbrellaco" class="fui-twitter">@glassumbrellaco</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- /bottom-menu-inverse -->
            </div>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-select.js"></script>
        <script src="/js/bootstrap-switch.js"></script>
        <script src="/js/flatui-checkbox.js"></script>
        <script src="/js/flatui-radio.js"></script>
        <script src="/js/jquery.tagsinput.js"></script>
        <script src="/js/jquery.placeholder.js"></script>
        <script src="/js/jquery.stacktable.js"></script>
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <script src="/js/application.js"></script>

	</body>
</html>