    	</div>

        <div class="mtl pbl">
            <div class="bottom-menu bottom-menu-inverse">
                <div class="container">
                    <div class="row">
                        <div class="span4 brand lead">
                            <a href="http://glassumbrella.co" style="color: #16a085">Glass Umbrella</a>
                        </div>

                        <div class="span5">
                            <ul class="bottom-links">
                                <li><a href="/apps">Apps</a></li>
                                <li><a href="http://blog.glassumbrella.co">Blog</a></li>
                                <li><a href="/support">Support</a></li>
                                <li><a href="/terms">Terms</a></li>
                            </ul>
                        </div>

                        <div class="span2">
                            <ul class="bottom-icons">
                                <li>
                                    <a href="https://twitter.com/castrnet">@castrnet</a>
                                </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- /bottom-menu-inverse -->
        </div>
	</body>
</html>