            </div>
            <div id="push"></div>
        </div>

        <div class="bottom-menu bottom-menu-inverse">
            <div class="container">
                <div class="row">
                    <div class="span4 brand lead">
                        <a href="http://glassumbrella.co" style="color: #16a085">Glass Umbrella</a>
                    </div>

                    <div class="span8">
                        <ul class="bottom-links">
                            <li><a href="http://blog.glassumbrella.co">Blog</a></li>
                            <li><a href="/feedback">Feedback</a></li>
                            <li><a href="/support">Support</a></li>
                            <li><a href="/terms">Terms</a></li>
                            <li><a href="https://twitter.com/castrnet">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
	</body>
</html>