<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Castr - <%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/stylesheets/style.css">
		
		<script src="/javascript/vendor/jquery-1.10.1.min.js"></script>
		<script src="/javascript/vendor/bootstrap.min.js"></script>
		<script src="/javascript/vendor/knockout-2.2.1.js"></script>
	</head>
	<body>