<div class="navbar">
  	<div class="navbar-inner">
	    <div class="container">
		    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01" value="Castr"></button>
	      	<div class="nav-collapse collapse" id="nav-collapse-01">
	      		<span class="brand">castr</span>
		        <ul class="nav">
					<li>
						<a href="/dashboard">
							Dashboard
							<span class="navbar-unread"></span>
						</a>
					</li>
					<li>
						<a href="/podcasts">My Podcasts</a>
					</li>
		        </ul>
				<ul class="nav pull-right">
					<li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				            <%= session.user.name %> <b class="caret"></b>
				        </a>
			            <ul class="dropdown-menu">
				            <li><a href="#">Profile</a></li>
				            <li class="divider"></li>
							<li><a href="/logout">Logout</a></li>
			            </ul>
					</li>
				</ul>
				<form class="navbar-search form-search pull-right" action="/search">
                    <div class="input-append">
                      	<input type="text" class="search-query span2" name="term" placeholder="Search Podcasts">
                      	<button type="submit" class="btn btn-large">
                        	<i class="fui-search"></i>
                      	</button>
                    </div>
              	</form>
			</div>
	    </div>
    </div>
</div>