<script>
$(function() {
	setMenuActiveItem();
});

function setMenuActiveItem() {
	var currentPath = window.location.pathname;
	var activeClassName = "active";

	if(currentPath.beginsWith("/dashboard")) {
		$("#dashboard-menu-item").addClass(activeClassName);
	}

	if(currentPath.beginsWith("/podcasts")) {
		$("#podcasts-menu-item").addClass(activeClassName);
	}
}
</script>

<div class="navbar">
  	<div class="navbar-inner">
	    <div class="container">
		    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01" value="Castr"></button>
		    	<a href="/">
	      			<span class="brand">Castr</span>
	      		</a>
	      		<% if (session.user) { %>
			        <ul class="nav">
						<li id="dashboard-menu-item">
							<a href="/dashboard">
								Dashboard
								<span class="navbar-unread"></span>
							</a>
						</li>
						<li id="podcasts-menu-item">
							<a href="/podcasts">My Podcasts</a>
						</li>
			        </ul>
				<% } %>
	      	<div class="nav-collapse collapse" id="nav-collapse-01">
	      		<% if (session.user) { %>
					<ul class="nav pull-right">
						<li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					            <%= session.user.name %> <b class="caret"></b>
					        </a>
				            <ul class="dropdown-menu">
					            <li><a href="/profile">Profile</a></li>
					            <li class="divider"></li>
								<li><a href="/logout">Logout</a></li>
				            </ul>
						</li>
					</ul>
				<% } %>
				<form class="navbar-search form-search pull-right" action="/search">
                    <div class="input-append">
                      	<input type="text" class="search-query span2" name="term" placeholder="Search Podcasts">
                      	<button type="submit" class="btn btn-large">
                        	<i class="fui-search"></i>
                      	</button>
                    </div>
              	</form>
			</div>
	    </div>
    </div>
</div>