<div class="podcast-header container">
	<h2><%= podcast.title %></h2>
	<div class="menu">
		<ul>
			<li><a href="">Episodes</a></li>
			<li><a href="">Subscribe</a></li>
			<li><a href="">iTunes</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
</div>