<% include ../partials/header %>

<div class="container">

<% include partials/menu %>
  
  <div class="starter-template">
    <h1><%= title %></h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    
    <img src="/images/logo.png" />
	
  </div>

</div><!-- /container -->


<% include ../partials/footer %>