<% include ../partials/header %>
<% include ../partials/menu %>

<h3>Dashboard</h3>
<hr>

<div class="span6 offset3">
	<section>
		<h4>Podcast episode four</h4>
		<p>Keffiyeh squid small batch meh. Organic vegan single-origin coffee sustainable keytar Austin, thundercats actually retro gluten-free Godard polaroid four loko. Organic polaroid Portland, pour-over pug Neutra synth chambray fashion axe VHS cliche fingerstache gastropub fixie tattooed. Salvia pug fixie master cleanse before they sold out +1, cornhole tofu shabby chic. 3 wolf moon you probably haven't heard of them Marfa, blog brunch occupy pug gastropub cliche. IPhone freegan yr semiotics craft beer Cosby sweater, viral leggings Schlitz gentrify narwhal flannel YOLO vegan banh mi. Aesthetic salvia banjo, vinyl direct trade single-origin coffee Terry Richardson chillwave wolf sriracha.</p>
		<small>24th March 2013</small>
	</section>

	<section>
		<h4>Podcast episode three</h4>
		<p>Leggings letterpress Carles Portland, Marfa bespoke McSweeney's tousled freegan intelligentsia. Wayfarers gluten-free literally, Carles forage fanny pack locavore kogi typewriter four loko hella skateboard. Readymade next level dreamcatcher, food truck before they sold out squid street art photo booth cray 3 wolf moon. Fanny pack gastropub sriracha, stumptown plaid meggings Pinterest. Umami bitters pitchfork, McSweeney's Williamsburg brunch next level. Readymade bitters occupy bicycle rights, whatever umami 3 wolf moon. Next level Portland YOLO hella, Wes Anderson swag disrupt leggings wolf pop-up brunch skateboard flexitarian pickled.</p>
	</section>

	<section>
		<h4>Podcast episode two</h4>
		<p>Bespoke Austin plaid try-hard intelligentsia, butcher ethnic. Gluten-free flexitarian plaid iPhone, mixtape scenester retro meh letterpress put a bird on it 3 wolf moon cray art party cornhole post-ironic. Leggings chillwave literally scenester Echo Park. Stumptown locavore authentic, hashtag quinoa cray tousled meh post-ironic church-key. Craft beer next level narwhal, Odd Future seitan art party mixtape lomo quinoa Echo Park leggings gentrify pug. Kale chips ethical organic PBR, roof party Echo Park single-origin coffee cornhole 90's authentic yr skateboard. Shoreditch craft beer yr tousled squid jean shorts, shabby chic ennui.</p>
	</section>

	<section>
		<h4>Podcast episode one</h4>
		<p>Lomo helvetica next level, bicycle rights skateboard beard Cosby sweater letterpress Pinterest pour-over forage. Stumptown PBR helvetica umami Godard. Bespoke intelligentsia fap, Bushwick Cosby sweater fashion axe tofu. Umami Austin letterpress, pickled salvia keffiyeh pug. Cray cred Pinterest pop-up Schlitz, hashtag Carles. Salvia Truffaut hella single-origin coffee artisan, Brooklyn four loko Tonx vinyl twee ennui retro. Forage synth master cleanse Vice YOLO, gentrify organic polaroid Schlitz.</p>
	</section>
</div>

<% include ../partials/footer %>