<% include partials/header %>

<div class="container">

	<img src="/images/logo.png" />
	<h1><%= title %></h1>
	
	<p>You are: <%= user.name %></p>
	<a class="btn btn-link" href="/logout">Logout</a>

</div>

<% include partials/footer %>