<% include partials/header %>

<img src="/images/logo.png" />
<h1><%= title %></h1>

<p>You are: <%= user.name %></p>
<p>Subdomain: <%= subdomain %></p>
<a href="/logout">Logout</a>

<% include partials/footer %>