.audiojs {
  height: 47px;
  padding-left: 50px;
  /* play/pause box-width */

  padding-right: 110px;
  /* time box-width */

  overflow: hidden;
  color: #ffffff;
  background: #273747;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.audiojs .castr-play-pause {
  float: left;
  position: relative;
  height: 47px;
  padding: 8.5px 17px;
  width: 40px;
  right: 50px;
  /* box-width */

  margin-left: -100%;
  margin-right: 10px;
  overflow: hidden;
}
.audiojs .castr-scrubber {
  background: #34495e;
  float: left;
  height: 17px;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.audiojs .castr-time {
  width: 100px;
  margin-right: -110px;
  /* box-width */

  margin-left: 10px;
  font-weight: 300;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  float: left;
  position: relative;
  color: #5d6d7e;
  height: 47px;
  line-height: 47px;
}
.audiojs .castr-time strong {
  font-weight: 300;
  padding-left: 2px;
}
.audiojs .castr-time em {
  color: #ffffff;
  font-style: normal;
  padding-right: 2px;
}
.audiojs .castr-progress {
  background: #16a085;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 0px;
  z-index: 1;
}
.audiojs .castr-loaded {
  background: #1abc9c;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 0px;
}
.audiojs .castr-error-message {
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  color: #fff;
  display: none;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
}
.audiojs .castr-error-message a {
  border-bottom: 1px solid #999;
  color: #eee;
  padding-bottom: 1px;
  text-decoration: none;
  white-space: wrap;
}
.audiojs .castr-play {
  display: block;
}
.audiojs p {
  cursor: pointer;
  display: none;
  height: 40px;
  margin: 0px;
  width: 25px;
}
.audiojs audio {
  left: -1px;
  position: absolute;
}
.castr-playing .castr-play,
.castr-playing .castr-loading,
.castr-playing .castr-error {
  display: none;
}
.castr-playing .castr-pause {
  display: block;
}
.castr-loading .castr-play,
.castr-loading .castr-pause,
.castr-loading .castr-error {
  display: none;
}
.castr-loading .castr-loading {
  display: block;
}
.castr-error .castr-time,
.castr-error .castr-play,
.castr-error .castr-pause,
.castr-error .castr-scrubber,
.castr-error .castr-loading {
  display: none;
}
.castr-error .castr-error {
  display: block;
}
.castr-error .castr-play-pause p {
  cursor: auto;
}
.castr-error .castr-error-message {
  display: block;
}
