<% include ../partials/header %>
<div class="container">
	<div class="panel">
		<div class="panel-heading">Create a new episode</div>
		<p>For podcast: <%= podcast.title %>, episode number: <%= episodeNumber %></p>
		<form method="post" action="/podcasts/<%= podcast.id %>/episodes/create" class="form-horizontal">
			<input type="hidden" name="episodeNumber" value="<%= episodeNumber%>">
			<div class="row">
			    <label class="col col-lg-2 control-label" for="title">Episode title</label>
			    <div class="col col-lg-6">
				    <input type="text" id="title" name="title" placeholder="Your podcast's title">
			    </div>
			</div>
			<div class="row">
				<label class="col col-lg-2 control-label" for="description">Description</label>
				<div class="col col-lg-6">
					<textarea id="description" name="description" placeholder="A short description of your podcast"></textarea>
				</div>
			</div>
			<div class="row">
				<label class="col col-lg-2 control-label" for="description">Audio file</label>
				<div class="col col-lg-6">
					<input type="file" id="cover">
					<p class="help-block">MP3 encoded audio file of your podcast. Maximum file size is 50MB.</p>
				</div>
			</div>
			<div class="row">
				<div class="col col-offset-2 col-lg-6 controls">
					<button type="submit" class="btn btn-primary">Create</button>
					<a href="/" class="btn btn-link">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>
<% include ../partials/footer %>
