<% include ../partials/header %>
<% include ../partials/podcast-header %>
<div class="container">
	<section class="episode">
		<h2>Episode #<%=episode.episodeNumber%>: <%=episode.title%></h2>
		<div class="body">
			<p><%=episode.description%></p>
		</div>
	</section>
	<p><a href="/">Back to episodes</a></p>
</div>
<% include ../partials/footer %>