<% include ../partials/header %>
<div class="container">
	<h2><%=episode.title%></h2>
	<p><%=episode.description%></p>
	<p><a href="/podcasts/<%=episode.PodcastId%>">Back to episodes</a></p>
</div>
<% include ../partials/footer %>