<% include ../partials/header %>
<% include ../partials/podcast-header %>
<script>
	function EpisodesIndexViewModel() {
		this.episodes = <%-JSON.stringify(episodes) %>;
		this.podcast = <%-JSON.stringify(podcast) %>;
	}
	
	$(document).ready(function() {
		ko.applyBindings(new EpisodesIndexViewModel());	
	});
</script>
<div class="container">
	<div class="episodes" data-bind="foreach: episodes">
		<section class="episode">
			<h2><a data-bind="attr: { 'href': '/episodes/' + episodeNumber }">Episode #<span data-bind="text: episodeNumber"></span>: <span data-bind="text: title"></span></a></h2>
			<div class="body" data-bind="text: description">
			</div>
		</section>
	</div>
</div>
<% include ../partials/footer %>
