<% include ../partials/header %>
<script>
	function EpisodesIndexViewModel() {
		this.episodes = <%-JSON.stringify(episodes) %>;
		this.podcast = <%-JSON.stringify(podcast) %>;
	}
	
	$(document).ready(function() {
		ko.applyBindings(new EpisodesIndexViewModel());	
	});
</script>
<div class="container">
	<ul data-bind="foreach: episodes">
		<li><a data-bind="attr: { 'href': '/podcasts/' + PodcastId + '/episodes/' + episodeNumber }, text: title"></a></li>
	</ul>
	<a href="/podcasts/<%=podcast.id%>/episodes/create">Create new episode</a>
</div>
<% include ../partials/footer %>
