		</div>
		<div class="mtl pbl">
            <div class="bottom-menu bottom-menu-inverse">
                <div class="container">
                    <div class="row">
                        <div class="span4 brand lead">
                            <a href="http://glassumbrella.co" class="">Glass Umbrella</a>
                        </div>

                        <div class="span5">
                            <ul class="bottom-links">
                                <li><a href="/about">About us</a></li>
                                <li><a href="/privacy">Privacy</a></li>
                                <li><a href="/terms">Terms</a></li>
                                <li><a href="/help">Support</a></li>
                            </ul>
                        </div>

                        <div class="span2">
                            <ul class="bottom-icons">
                                <li><a href="http://" class="fui-twitter"></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>