<% include ../public/partials/header %>

<div class="span6 offset3">
	<h3><%= title %></h3>
	<hr>
	<p>Sorry, it seems we did something wrong.</p>
	<p>Please <a href="/">click here</a> to go to the home page.</p>
	<hr>
	<p>If you want some way to express your anger tweet us <a href="https://twitter.com/castrnet">@castrnet</a>.</p>
</div>

<% include ../partials/footer %>