<% include partials/header %>
<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li><a href="/">Home</a></li>
		<li class="active"><a href="/about">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="muted">Castr</h3>
</div>

<hr>

<div class="jumbotron">
	<h1><%= title %></h1>
	<p class="lead">Echo Park High Life mlkshk pickled. YOLO pitchfork small batch, 90&rsquo;s lomo Vice Brooklyn bitters flannel. Locavore deep v iPhone, YOLO typewriter gentrify Echo Park cray pop-up ennui flexitarian hashtag thundercats mustache. </p>
</div>

<% include partials/footer %>