<% include partials/header %>
<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li><a href="/login">Login</a></li>
		<li><a href="/register">Register</a></li>
	</ul>
	<h3 class="muted">Castr</h3>
</div>

<hr>

<div class="jumbotron">
	<h1>Give yourself a voice</h1>
	<p class="lead">Create a podcast and share it with your friends, the community, or the world.</p>
	<a class="btn btn-large btn-success" href="#">Request an invite</a>
</div>

<hr>

<div class="row-fluid marketing">
	<div class="span6">
		<h4><img src="/images/icons/Earth@2x.png" />Broadcast</h4>
		<p>Record, publish, and broadcast. Three simple steps to start your own podcast.</p>
		
		<h4><img src="/images/icons/Chat@2x.png" />Share on Twitter</h4>
		<p>Integration with Twitter to let your followers know when you've broadcast.</p>
		
		<h4><img src="/images/icons/Responsive@2x.png" />Responsive</h4>
		<p>A responsive website for your podcast.</p>
	</div>
	
	<div class="span6">
		<h4><img src="/images/icons/Card@2x.png" />Free</h4>
		<p>Want to try Castr? Our free account is free for life.</p>
		
		<h4><img src="/images/icons/Graph@2x.png" />Stats</h4>
		<p>View stats about the number of listeners and followers of your podcast.</p>
		
		<h4><img src="/images/icons/iPhone@2x.png" />Record</h4>
		<p>Record episodes with our iPhone and iPad app. Mac app coming soon.</p>
	</div>
</div>

<hr>



<% include ../partials/footer %>