<% if (session.user) { %>
	<% include ../partials/header %>
	<% include ../partials/menu %>
<% } else { %>
	<% include partials/header %>
<% } %>

<h3>Terms and Conditions</h3>

<p>We will have some soon.</p>

<% include ../partials/footer %>