<% include ../partials/header %>
<% include ../partials/menu %>
<script>
$(document).ready(function() {
	$('input[type=file]').bootstrapFileInput();
});
</script>
<h3>Create a new podcast</h3>
<hr>
<form method="post" action="/podcasts/create" class="form-horizontal">
	<fieldset>
		<div class="control-group huge">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" name="title" id="title" placeholder="Podcast title" class="span6" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="url">Domain</label>
			<div class="controls">
				<input type="text" name="url" id="url" style="text-align:right" />
				<span class="input-group-addon">.castr.net</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="title">Description</label>
			<div class="controls">
				<textarea name="title" id="title" placeholder="A short description of your podcast" class="span6" rows="5"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="signupName">Cover Art</label>
			<div class="controls">
				<input type="file" id="cover" title="Browse for Cover Art">
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Create</button>
			<a href="/" class="btn btn-link">Cancel</a>
		</div>
	</fieldset>
</form>

<% include ../partials/footer %>
