<% include ../partials/header %>
<% include ../partials/menu %>

<h3>Create a new podcast</h3>
<hr>
<form method="post" class="form-horizontal">
	<fieldset>
		<% if(hasReachedPodcastCountLimit) { %>
			<div class="alert alert-error">
		    	Looks like you've reach your podcast limit, <a href="#">archive an old podcast</a> or <a href="#">buy more space</a>.
		    </div>
		<% } %>
		<% if(urlIsTaken || urlIsBanned) { %>
			<div class="alert alert-error">
		    	Looks like that URL is taken, please try again.
		    </div>
		<% } %>

		<div class="control-group huge">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" name="title" id="title" placeholder="Podcast title" class="span6" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="url">Domain</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" name="url" id="url" style="text-align:right" />
					<span class="add-on">.castr.net</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<textarea name="description" id="description" placeholder="A short description of your podcast" class="span6" rows="5"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="cover">Cover Art</label>
			<div class="controls">
				<input type="file" id="cover" title="Browse for Cover Art">
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Create</button>
			<a href="/" class="btn btn-link">Cancel</a>
		</div>
	</fieldset>
</form>

<% include ../partials/footer %>
