<% include ../partials/header %>
<% include ../partials/menu %>
<script>
	function PodcastsIndexViewModel() {
		self.podcasts = <%-JSON.stringify(podcasts) %>;

		self.selectedPodcastId = ko.observable(0);

		self.selectedPodcast = function() {
			for(var i = 0; i < self.podcasts.length; i++) {
				var podcast = self.podcasts[i];
				if (podcast.id == self.selectedPodcastId()) {
					return podcast;
				}
			}
		}

		self.episodes = ko.observable([]);

		self.selectPodcast = function() {
			var podcastId = this.id;
			selectedPodcastId(podcastId);
			self.updateEpisodes();
		};

		self.selectPodcastId = function(podcastId) {
			selectedPodcastId(podcastId);
			self.updateEpisodes();
		}

		self.updateEpisodes = function() {
			var podcastId = self.selectedPodcastId();
			$.getJSON("/api/podcasts/{0}/episodes".format(podcastId), function(data) {
				self.episodes(data.result);
				history.pushState(null, "", "/podcasts/{0}".format(podcastId));
			});
		}

		return self;
	}
	
	$(document).ready(function() {
		var podcastsIndexViewModel = new PodcastsIndexViewModel();
		
		for (var i = 0; i < podcastsIndexViewModel.podcasts; i++) {
			var podcast = podcastsIndexViewModel.podcasts[i];
			podcast.latestEpisode(getLatestEpisode(podcast.podcastId));
		}

		ko.applyBindings(podcastsIndexViewModel);

		var selectedPodcastId = <%= selectedPodcastId %>

		if (selectedPodcastId > 0) {
			podcastsIndexViewModel.selectPodcastId(selectedPodcastId);
		} else {
			podcastsIndexViewModel.selectPodcastId(podcastsIndexViewModel.podcasts[0].id);
		}
	});
</script>
<h3>My Podcasts</h3>
<hr />
<div class="row">
	<div class="span3">
		<ul class="nav nav-list nav-list-vivid">
	        <li class="nav-header">Podcasts</li>
	        <!-- ko foreach: podcasts -->
            <li data-bind="attr: { class: selectedPodcastId() == id ? 'active' : '' }">
            	<a href="#" data-bind="click: selectPodcast">
            		<span data-bind="text: title"></span>
                	<span class="nav-counter" data-bind="text: episodes.length"></span>
              	</a>
            </li>
            <!-- /ko -->
            <li class="nav-header">Create</li>
            <li>
				<a class="" href="podcasts/create"><span class="fui-plus"></span> Create new podcast</a>	
			</li>
            </ul>
		</ul>
	</div>
	<!-- ko if: episodes().length > 0 -->
	<div class="span7">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="span1">Episode</th>
					<th>Title</th>
					<th>Published Date</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: episodes">
				<tr>
					<td><span class="label label-large label-primary" data-bind="text: episodeNumber"></span></td>
					<td><a data-bind="text: title, attr: { href: '/podcasts/' + PodcastId + '/episodes/' + id }"></a></td>
					<td><span data-bind="text: publishDate"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span2">
		<div class="iconbar pull-right">
            <ul>
	            <li><a href="" class="fui-plus" data-bind="attr: { href: '/podcasts/{0}/episodes/create'.format(selectedPodcast().id) }"></a></li>
	            <li><a href="#fakelink" class="fui-calendar"></a></li>
	            <li><a href="#fakelink" class="fui-chat"></a></li>
	            <li><a href="#fakelink" class="fui-mail">
		                <span class="iconbar-unread">1</span></a></li>
	            <li>
	                <a href="#fakelink" class="fui-gear">
	                </a>
	            </li>
            </ul>
        </div>
    </div>
	<!-- /ko -->
</div>

<% include ../partials/footer %>
