<% include ../partials/header %>
<script>
	function PodcastsIndexViewModel() {
		this.podcasts = <%-JSON.stringify(podcasts) %>;
	}
	
	$(document).ready(function() {
		ko.applyBindings(new PodcastsIndexViewModel());	
	});
</script>
<div class="container">
	<ul data-bind="foreach: podcasts">
		<li><a data-bind="attr: { 'href': 'podcasts/' + id }, text: title"></a></span> 
			<a data-bind="attr: { 'href': 'podcasts/' + id + '/episodes/create' }">New episode</a></li>
	</ul>
	<a href="podcasts/create">Create new podcast</a>
</div>
<% include ../partials/footer %>
