<% include ../partials/header %>
<% include ../partials/menu %>

<script>
	var baseUrl = "<%=baseUrl%>";

	function PodcastsIndexViewModel() {
		self.podcasts = <%-JSON.stringify(podcasts) %>;

		self.selectedPodcastId = ko.observable(0);

		self.selectedPodcast = function() {
			for (var i = 0; i < self.podcasts.length; i++) {
				var podcast = self.podcasts[i];
				if (podcast.id == self.selectedPodcastId()) {
					return podcast;
				}
			}
		}

		self.episodes = ko.observable([]);

		self.visibleEpisodes = ko.observable([]);

		self.filteredEpisodes = function() {
			var type = self.selectedEpisodeType();
			var episodesArray = [];

			if (type == "all") {
				episodesArray = self.episodes();
			} else if (type == "published") {
				episodesArray = self.episodes().filter(function (element, index, array) {
					return element.isPublished;
				});
			} else if (type == "draft") {
				episodesArray = self.episodes().filter(function (element, index, array) {
					return !element.isPublished;
				});
			}

			self.visibleEpisodes(episodesArray);
		}

		self.selectPodcast = function() {
			var podcastId = this.id;
			selectedPodcastId(podcastId);
			self.updateEpisodes();
		};

		self.selectPodcastId = function(podcastId) {
			selectedPodcastId(podcastId);
			self.updateEpisodes();
		}

		self.updateEpisodes = function() {
			var podcastId = self.selectedPodcastId();
			$.getJSON("/api/podcasts/{0}/episodes".format(podcastId), function(data) {
				self.episodes(data.result);
				self.filteredEpisodes();
				history.pushState(null, "", "/podcasts/{0}".format(podcastId));
			});
		}

		self.selectedPodcastUrl = function() {
			var podcast = self.selectedPodcast();
			return "http://{0}.{1}".format(podcast.url, baseUrl);
		}

		self.selectedEpisodeType = ko.observable("all"); // all, published, draft

		self.changeEpisodeType = function(type) {
			self.selectedEpisodeType(type);
			self.filteredEpisodes();
		}

		return self;
	}
	
	$(function() {
		var podcastsIndexViewModel = new PodcastsIndexViewModel();
		
		for (var i = 0; i < podcastsIndexViewModel.podcasts; i++) {
			var podcast = podcastsIndexViewModel.podcasts[i];
			podcast.latestEpisode(getLatestEpisode(podcast.podcastId));
		}

		var selectedPodcastId = <%= selectedPodcastId %>;

		if (selectedPodcastId > 0) {
			podcastsIndexViewModel.selectPodcastId(selectedPodcastId);
		} else {
			if (podcastsIndexViewModel.podcasts.length > 0) {
				podcastsIndexViewModel.selectPodcastId(podcastsIndexViewModel.podcasts[0].id);
			}
		}

		ko.applyBindings(podcastsIndexViewModel);
	});
</script>

<div class="row">
	<!-- ko if: podcasts.length > 0 -->
	<div class="span3">
		<ul class="nav nav-list">
	        <li class="nav-header">Podcasts</li>
	        <!-- ko foreach: podcasts -->
	            <li data-bind="attr: { class: selectedPodcastId() == id ? 'active' : '' }">
	            	<a href="#" data-bind="click: selectPodcast">
	            		<span data-bind="text: title"></span>
	              	</a>
	            </li>
            <!-- /ko -->
            <li>
				<a href="/podcasts/create">
					<span class="fui-plus"></span> Create new podcast
				</a>	
			</li>
		</ul>
	</div>
	<!-- /ko -->

	<!-- ko if: podcasts.length == 0 -->
	<div class="span12" style="text-align: center;">
		<p>You don't have any podcasts.</p>
		<p><a href="/podcasts/create" class="btn btn-large btn-primary">Create My First Podcast</a></p>
	</div>
	<!-- /ko -->

	<div class="span9">
		<!-- ko if: podcasts.length > 0 -->
			<div class="row">
				<div class="span9">
					<ul class="nav nav-tabs">
						<li class="active">
						    <a href="#">
						    	<span class="fui-mic"></span>
						    	Episodes
						    </a>
						</li>
						<li>
						    <a href="#">
						    	<span class="fui-document"></span>
						    	Stats
						    </a>
						</li>
						<li>
						    <a href="#" data-bind="attr: { href: '/podcasts/{0}/settings'.format(selectedPodcast().id) }">
						    	<span class="fui-gear"></span>
						    	Settings
						    </a>
						</li>
						<li class="pull-right">
						    <a href="#" data-bind="attr: { href: selectedPodcastUrl() }">
						    	<span class="fui-upload"></span>
						    	View
						    </a>
						</li>
					</ul>
				</div>
			</div>

			<!-- ko if: episodes().length == 0 -->
			<div class="span9" style="text-align: center;">
				<p>No episodes found.</p>
				<a class="btn btn-primary" href="#" data-bind="attr: { href: '/podcasts/{0}/episodes/create'.format(selectedPodcast().id) }"><i class="fui-plus"></i>Add first episode</a>
			</div>
			<!-- /ko -->
			
			<!-- ko if: episodes().length > 0 -->
			<div class="row">
				<div class="btn-toolbar span9">
					<div class="btn-group pull-left">
						<a class="btn btn-primary" href="#" data-bind="attr: { href: '/podcasts/{0}/episodes/create'.format(selectedPodcast().id) }"><i class="fui-plus"></i>New episode</a>
					</div>
					<div class="btn-group pull-right">
						<a href="#" data-bind="click: changeEpisodeType.bind($data, 'all'), attr: { class: selectedEpisodeType() == 'all' ? 'btn btn-secondary active' : 'btn btn-secondary' }">All</a>
						<a href="#" data-bind="click: changeEpisodeType.bind($data, 'published'), attr: { class: selectedEpisodeType() == 'published' ? 'btn btn-secondary active' : 'btn btn-secondary' }">Published</a>
						<a href="#" data-bind="click: changeEpisodeType.bind($data, 'draft'), attr: { class: selectedEpisodeType() == 'draft' ? 'btn btn-secondary active' : 'btn btn-secondary' }">Draft</a>
					</div>
				</div>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:8%;">Episode</th>
						<th style="width:55%;">Title</th>
						<th>Published Date</th>
					</tr>
				</thead>
				<!-- ko if: visibleEpisodes().length > 0 -->
				<tbody data-bind="foreach: visibleEpisodes">
					<tr>
						<td>
						<!-- ko if: episodeNumber > 0 -->
							<span class="label label-inverse" data-bind="text: '#' + episodeNumber"></span>
						<!-- /ko -->
						<!-- ko if: !episodeNumber -->
							<span class="label label-secondary">Draft</span>
						<!-- /ko -->
						</td>
						<td>
							<a data-bind="text: title, attr: { href: '/podcasts/' + PodcastId + '/episodes/' + id }"></a>
						</td>
						<td>
							<span data-bind="text: publishDate ? moment(publishDate).fromNow() : 'Never'"></span>
						</td>
					</tr>
				</tbody>
				<!-- /ko -->
				<!-- ko if: visibleEpisodes().length == 0 -->
					<tbody>
						<tr>
							<td colspan="3">No <span data-bind="text: selectedEpisodeType()"></span> episodes found.</td>
						</tr>
					</tbody>
				<!-- /ko -->
			</table>
			<!-- /ko -->
		<!-- /ko -->
	</div>
</div>

<% include ../partials/footer %>
